<!-- eslint-disable no-underscore-dangle -->
<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <v-container>
    <v-layout
            row
            wrap
    >
      <v-flex xs12 >
        <v-card xs6>
          <v-card-title>
            <v-flex xs12 sm6 d-flex>
              <h2>Entity Description</h2>
            </v-flex>
            <v-spacer />
          </v-card-title>
          <v-card-text>
            <table>
              <thead>
              <tr>
                <th class="col">Entity Name</th>
                <th class="col">Description</th>
              </tr>
              </thead>
              <tbody>
              <tr v-for="item in entities" :key="item.name">
                <td class="col">{{ item.name }}</td>
                <td class="col" v-html="item.desc"></td>
              </tr>
              </tbody>
            </table>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>

  </v-container>

</template>

<script>
/* eslint-disable no-underscore-dangle */
import { entities } from '../data';

export default {
  data() {
    return {
      entities: [...entities],
    };
  },
};
</script>

<style>
  .flex {
    padding-left: 10px;
    padding-right: 10px;
  }
  .col{
    min-width: 150px;
    text-align: left;
  }
</style>
