<!-- eslint-disable no-underscore-dangle -->
<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <v-container>
    <v-layout
            row
            wrap
    >
      <v-flex xs12 md5>
        <v-card xs6>
          <v-card-title>
            <v-flex xs12 sm6 d-flex>
              <v-select
                :items="entities"
                label="Entity"
                outline
                v-model="selectedEntity"
              ></v-select>
            </v-flex>
            <v-spacer />
            <v-text-field
                    v-model="search"
                    append-icon="search"
                    label="Search"
                    single-line
                    hide-details
            />
          </v-card-title>
          <v-data-table
                  :headers="headers"
                  :items="stats"
                  :search="search"
                  :rows-per-page-items="[10,20,30]"
          >
            <template v-slot:items="props">
              <td
                      v-for="vh in headers"
                      :key="vh.value"
              >
                {{ props.item[vh.value] }}
              </td>
            </template>
            <v-alert
                    v-slot:no-results
                    :value="true"
                    color="error"
                    icon="warning"
            >
              Your search for "{{ search }}" found no results.
            </v-alert>
          </v-data-table>
        </v-card>
      </v-flex>
      <v-flex md7>
        <v-card xs6>
          <v-card-title>
            <h2>Graphical Represenation</h2>
            <v-spacer />
          </v-card-title>
          <!--<div v-for="e in distinctEntities" :key="e" v-show="e === selectedEntity || selectedEntity === 'All Entities'">-->
            <!--&nbsp;&nbsp;&nbsp;&nbsp;-->
            <!--<img-->
              <!--:src="(e[0] === '#' ? '_ht_' : e[0]) + e.substring(1) + '.png'"-->
              <!--:width="'95%'"-->
            <!--&gt;-->
          <!--</div>-->
          <iframe src="topic_coherence_of_three_topic_models.html" :height="'800px'" :width="'100%'"></iframe>
        </v-card>
      </v-flex>
    </v-layout>

  </v-container>

</template>

<script>
/* eslint-disable no-underscore-dangle */
import axios from 'axios';
import { entities, data} from '../data';

export default {
  data() {
    return {
      search: '',
      selectedEntity: 'All Entities',
      entities: ['All Entities', ...entities.map(x => x.name)],
      distinctEntities: [...entities.map(x => x.name)],
// | entity  | topic | coherence | explained variance | topic_name | topic_words |
    headers: [{
        text: 'Entity',
        value: 'entity',
      },
      // {
      //     text: 'Entity Details',
      //     value: 'entityDetails',
      // },
      {
        text: 'Topic',
        value: 'topic',
      },
      // {
      //   text: 'Topic Name',
      //   value: 'topicName',
      // },
      {
        text: 'Topic Words',
        value: 'topicWords',
      },
      {
        text: 'Coherence UCI',
        value: 'coherence_UCI',
      },
      {
        text: 'Coherence UMass',
        value: 'coherence_UMass',
      }],
    };
  },
  computed: {
    stats() {
      return data.map(x => ({
        ...x ,
        coherence_UMass: x.coherence_UMass.toFixed(3),
        coherence_UCI: x.coherence_UCI.toFixed(3),
        topicWords: x.topicWords.join(', ')
      }))
      .filter(x => x.entity === this.selectedEntity || this.selectedEntity === "All Entities")
    }
  },
  mounted() {
    // this.getLatestReport();
  },
  methods: {
    getLatestReport() {
      axios.get('https://dva-sp-19.firebaseio.com/results.json')
        .then((res) => {
          this.stats = res.data;
        })
        .catch((err) => {
          console.error(err);
          alert('something went wrong!');
        });
    },
  },
};
</script>

<style>
  .flex {
    padding-left: 10px;
    padding-right: 10px;
  }
</style>
