<template>
  <v-app>
    <v-toolbar app>
      <v-toolbar-title class="headline text-uppercase">

        <span>Unsupervised Twitter Topic Modelling</span>
        <span class="font-weight-light"> | Team 44</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
    </v-toolbar>

    <v-content>
      <Header/>
      <HelloWorld/>
    </v-content>
  </v-app>
</template>

<script>
import HelloWorld from './components/HelloWorld'
import Header from './components/Header'

export default {
  name: 'App',
  components: {
    HelloWorld,
    Header,
  },
  data () {
    return {
      //
    }
  }
}
</script>
